<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application

        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Family_Tasks_Proj">

        <activity
            android:name=".Parents_Dashbord_and_mange.AssignTaskToChildActivity"
            android:exported="false" />
        <activity
            android:name=".Parents_Dashbord_and_mange.ParentTaskTemplateActivity"
            android:exported="false" /> <!-- MAIN / Launcher -->
        <activity
            android:name=".auth.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Parent side -->
        <activity
            android:name=".Parents_Dashbord_and_mange.ParentDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".Parents_Dashbord_and_mange.ManageChildrenActivity"
            android:exported="false" /> <!-- Child side -->
        <activity
            android:name=".child.ChildDashboardActivity"
            android:exported="false" /> <!-- Barcode Scanner -->
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />
        <activity android:name=".Parents_Dashbord_and_mange.GenerateQRActivity"></activity>
    </application>

</manifest>